# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled python
*.pyc
__pycache__

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# VSCode files
.vscode

# IDEA files
.idea

# OSX dir files
.DS_Store

# Android files
.gradle
*.iml
local.properties
